﻿@using SEOAnalyser.ViewModels
@model SEOAnalyser.ViewModels.IndexViewModel

@{
    Model.Desc = !Model.Desc;
}

<form method="post">
<div>
    <div class="mx-auto pt-5">
        <div class="w-50 mx-auto">
            <h1 class="text-center">
                SEO Analyser
            </h1>

            <input type="hidden" asp-for="Execute" value="true" />
            <input type="hidden" asp-for="Desc" />
            <input type="hidden" asp-for="SortBy" />

            <div class="mt-4">
                <textarea aria-label="Url" class="form-control" asp-for="Input" placeholder="Url / Html / Text" rows="10"></textarea>
                <div>
                    <button class="btn btn-primary w-100 mt-2" type="submit" name="action">Analyze</button>
                </div>
            </div>

            <div class="mt-4">
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" asp-for="EnableEachWordSearch">
                    <label class="custom-control-label" asp-for="EnableEachWordSearch">Number of occurrences on the page of each word.</label>
                </div>

                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" asp-for="EnableEachWordInMetaTagsSearch">
                    <label class="custom-control-label" asp-for="EnableEachWordInMetaTagsSearch">Number of occurrences on the page of each word listed in meta tags.</label>
                </div>

                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" asp-for="EnableExternalLinkSearch">
                    <label class="custom-control-label" asp-for="EnableExternalLinkSearch">Number of external links in the text.</label>
                </div>
            </div>
        </div>
        
        <div class="mt-5">
            @if (Model.EnableEachWordSearch && ViewBag.Words != null)
            {
                <div class="mx-auto">
                    <h6>Number of occurrences on the page of each word:</h6>

                    <table class="table table-bordered table-striped mt-4">
                        <thead>
                        <tr>
                            <th scope="col"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Word" onclick="onSortByClick(event)">Word</button></th>
                            <th scope="col" width="1"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Occurrences" onclick="onSortByClick(event)">Occurrences</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (KeyValuePair<string, int> word in ViewBag.Words)
                        {
                            <tr>
                                <th scope="row">@word.Key</th>
                                <td class="text-right">@word.Value</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.EnableEachWordInMetaTagsSearch && ViewBag.Metas != null)
            {
                <div class="mx-auto">
                    <h6>Number of occurrences on the page of each word listed in meta tags:</h6>

                    <table class="table table-bordered table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Word" onclick="onSortByClick(event)">Word</button></th>
                                <th scope="col" width="1"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Occurrences" onclick="onSortByClick(event)">Occurrences</button></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (KeyValuePair<string, int> word in ViewBag.Metas)
                        {
                            <tr>
                                <th scope="row">@word.Key</th>
                                <td class="text-right">@word.Value</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.EnableExternalLinkSearch && ViewBag.Links != null)
            {
                <div class="mx-auto">
                    <h6>Number of external links in the text:</h6>

                    <table class="table table-bordered table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Word" onclick="onSortByClick(event)">Word</button></th>
                                <th scope="col" width="1"><button class="btn btn-link p-0 font-weight-bold" type="submit" data-sortby="@ESortBy.Occurrences" onclick="onSortByClick(event)">Occurrences</button></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (KeyValuePair<string, int> word in ViewBag.Links)
                        {
                            <tr>
                                <th scope="row"><a href="@word.Key" target="_blank">@word.Key</a></th>
                                <td class="text-right">@word.Value</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }

            @if (Model.Execute && !ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="mt-4 alert alert-danger">
                    <h5 class="pb-2">Errors found:</h5>
                </div>
            }
        </div>
    </div>
</div>
</form>

<Script>
    function onSortByClick(e) {
        e.preventDefault();
        $("#SortBy").val($(e.target).attr("data-sortby"));
        var descCurrentVal = $("#Desc").val();
        $("#Desc").val(descCurrentVal === "true" ? "false" : "true") ;
        $("form").submit();
    }
</Script>